<ion-view view-title="Actividad reciente">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tristan.jpg');"></span>
                    <strong>Tristan</strong> ha reciclado una bolsa de PET.
                    <div class="card-footer text-right">
                        <i class="icon ion-heart assertive"></i> +23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> hace un momento
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jorge.jpg');"></span>
                    <strong>Jorge</strong> ha reciclado 3 kg de carton!
                    <div class="card-footer text-right">
                        <i class="icon ion-heart assertive"></i> +2,600
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> hace 12 minutos
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/belinda.jpg');"></span>
                    <strong>Belinda</strong> ha canjeado puntos por un <strong>Frappe gratis!</strong> 
                    <a class="image"><img src="img/frappe-gratis.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-heart assertive"></i> -6,000
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> hace 3 horas
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <button class="button button-full button-positive">
            Reciclar
        </button>
    </ion-content>
</ion-view>
