<ion-view view-title="Amigos">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/tristan.jpg">
                    <h2>Tristan</h2>
                    <p>5,600 
                        <i class="ion-ios-star"></i>
                         <i class="ion-leaf"></i>
                   
                    </p>
                    <i class="icon ion-shuffle muted">Retar</i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/belinda.jpg">
                    <h2>Belinda</h2>
                    <p>1,600 
                        <i class="ion-ios-star"></i>
               
                    <i class="ion-flame"></i>
                    </p>
                    <i class="icon ion-shuffle muted">Retar</i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/juan.jpg">
                    <h2>Juan</h2>
                    <p>6,640 
                         <i class="ion-ios-star"></i>
                         <i class="ion-leaf"></i>
                    <i class="ion-waterdrop"></i>
                    <i class="ion-ribbon-b"></i>
                    <i class="ion-flame"></i>
                    </p>
                    <i class="icon ion-shuffle muted">Retar</i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/veerenice.jpg">
                    <h2>Verenice</h2>
                    <p>2,670 
                         <i class="ion-ios-star"></i>
                         <i class="ion-leaf"></i>
                    <i class="ion-waterdrop"></i>
               
                    </p>
                    <i class="icon ion-shuffle muted">Retar</i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/charlie.jpg">
                    <h2>Charlie</h2>
                    <p>1,300 
                         <i class="ion-ios-star"></i>
                         <i class="ion-leaf"></i>
                    <i class="ion-waterdrop"></i>
   
                    <i class="ion-flame"></i>
                    </p>
                    <i class="icon ion-shuffle muted">Retar</i>
                </a>
                                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jorge.jpg">
                    <h2>Jorge</h2>
                    <p>1,300 
                         <i class="ion-ios-star"></i>
                         
                    <i class="ion-ribbon-b"></i>
                    <i class="ion-flame"></i>
                    </p>
                    <i class="icon ion-shuffle muted">Retar</i>
                </a>
            </div>
        </div>
        
       
    </ion-content>
    

</ion-view>
