<ion-view view-title="Premios">
  <ion-content class="padding">

    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/adam.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>
    <!-- start card -->
    <div class="list card">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
        <p>1,200 pts</p>
      </a>
    </div>
    <!-- start card -->

    <button class="button button-block button-positive">
      Reciclar
    </button>
  </ion-content>
</ion-view>